body {
  font-family: "National Park", sans-serif;
  margin: 0;
  background-color: #1e1e2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header img {
    width: 55px;
    height: auto;
}

header {
    display: flex;
    background-color: #1e1e2e;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0px 10px;
}

header .name {
    color: #cdd6f4;
    font-size: 42px;
    font-weight: 900;
    margin-left: 100px;
}

button{
    font-size: 16px;
    border-radius: 5px;
    margin-right: 20px;
}

.size{
    padding: 0px 20px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    height: 55px;
    border:#6c7086 solid 2px;
}

.hero {
    background-color: #1e1e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.hero .container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #11111b;
    padding: 10px;
    border: 2px solid #585b70;
    border-radius: 5px;
}

.square {
    box-sizing: border-box;
    border: 1px solid #313244;
    border-radius: 3px;
}

footer {
    margin: 0;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    background-image: url(./images/header-strip.svg);
    background-size: contain;
}

footer .by {
    color: #cdd6f4;
    padding: 0px 5px;
    font-size: 10px;
}