body {
  font-family: "National Park", sans-serif;
  margin: 0;
}
header img {
  width: 60px;
}

header {
  display: flex;
  background-color: #1e1e2e;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 10px;
}

header .name {
  color: #cdd6f4;
  font-size: 42px;
  font-weight: 900;
}
